.header{
    margin:2rem;
}
.nav-link{
    color:black;
}

.search-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orders{
    display: flex;
    justify-content: space-evenly;
    gap:50px;
}
/* .cart i{
    width:500px;
    height: 100px;
} */
.cart{
    position: relative;
}
.cart-icon{
    width: 20px;
    height: 20px;
    font-weight: 500;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #23bbcf;
    position: absolute;
    top:-15px;
    right: -10px;
    /* left:20px; */
    /* left: 5px; */
}


.search{
    background-color: #f2f2f2;
    color: #43454b;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 13%);
 padding:6px;
    
}

.dropdown-menu{
    /* --bs-dropdown-bg:rgba(0,0,0,0) !important; */
    --bs-border-color-translucent:rgba(0,0,0,0);
}

/* .navbar{
    background-color: rgb(58, 182, 34);
    border-radius: 6px;
} */


